<div class="text-center">
  <h2>Welcome to JH BI-FI</h2>
  <br>
  <h2>Lets get you started!</h2>
  <br>
  <h2>Pick an electronics category</h2>
</div>

<br>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3 border">
        <p>Home</p>
      </div>
        
      <div class="col-md-9 border">
        <img src="http://atisfuar.ankaragece.net/wp-content/uploads/2017/05/shutterstock_181343621.jpg" height= "250" width= "250">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 border">
        <p>Phone</p>
      </div>
        
      <div class="col-md-9 border">
        <img src="http://www.pixuffle.net/wp-content/uploads/2017/05/mobile.jpg" height= "200" width= "250">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 border">
        <p>Computers</p>
      </div>
        
      <div class="col-md-9 border">
        <img src="http://www.cfscomputers.co.uk/wp-content/uploads/2016/07/pc_repairs.png" height= "200" width= "300">
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 border">
        <p>TV/Media</p>
      </div>
        
      <div class="col-md-9 border">
        <img src="https://www.corning.com/media/worldwide/csm/images/3A--CDT--Televisions.jpg/jcr:content/renditions/retina_720.jpg" height= "200" width= "200">
        <img src="https://i.guim.co.uk/img/static/sys-images/Media/Columnists/Columnists/2012/10/25/1351183320739/A-pile-of-DVDs-008.jpg?w=300&q=55&auto=format&usm=12&fit=max&s=c5a889abb21e16e68ddf363e642516b4" height= "170" width= "200">
      </div>
    </div>

     <div class="row">
      <div class="col-md-3 border">
        <p>Music</p>
      </div>
        
      <div class="col-md-9 border">
        <img src="http://www.world-import.com/images/P/lg-rbd154.jpg" height= "200" width= "200">
      </div>
    </div>

     <div class="row">
      <div class="col-md-3 border">
        <p>Gaming</p>
      </div>
        
      <div class="col-md-9 border">
        <img src="http://images.collectorz.com/game/features/consoles.jpg" height= "200" width= "200">
      </div>

    </div>
  </div>
</section>
<br>


<p class="text-center">...or search for a specific item with our search bar in the navigation!</p>

<p class="text-center">Recent Listings</p>
  <div class="container border">
    <div class="row">
      <div class="col-md-3 border">
        <img alt="item">
      </div>
      <div class="col-md-3 border">
        <img alt="item">
      </div>
      <div class="col-md-3 border">
        <img alt="item">
      </div>
      <div class="col-md-3 border">
        <img alt="item">
      </div>
    </div>
  </div>

  <br>