<h2>Welcome to JH BI-FI</h2>
<br>
<h2>Lets get you started!</h2>
<br>
<h2>Pick an electronics category</h2>

<br>

<p>Home</p>
<p>Phone</p>
<p>TV/Media</p>
<p>Computers</p>
<p>Music</p>
<p>Video</p>
<p>Gaming</p>

<br>

<p>...or search for a specific item with our search bar in the navigation!</p>

<p>Recent Listings</p>